@font-face {
  font-family: 'Lufga Bold';
  src: url(/assets/fonts/LufgaBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Lufga Regular';
  src: url(/assets/fonts/LufgaRegular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url(./assets/ekko_bg.png);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  text-align: center;
  margin-top: 32px;
  height: 120px;
}

header div {
  width: 120px;
  background-image: linear-gradient(90deg, blue 0%, yellow 100%);
  margin: auto;
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  display: grid;
  gap: 24px;
}

section {
  color: white;
  background: transparent;
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #202020a6;
  padding: 29px;
  color: white;
  border-top: 4px solid rgb(0, 204, 255);
  border-radius: 8px;
  padding-top: 24px;
}

section h2 {
  font-family: 'Lufga Bold';
  font-weight: regular;
}

section p {
  color: #c5c5c9;
  letter-spacing: -0.18px;
  font-family: 'Lufga Regular';
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.channel-list img {
  width: 70px;
  border-radius: 50%;
  border: 1px solid rgb(71, 71, 71);
}

.games-series-list img {
  width: 120px;
  border-radius: 8px;
}

/* animation */

header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .4s;
}

main section:nth-child(3) {
  animation-delay: .8s;
}

main section:nth-child(4) {
  animation-delay: 1.2s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
  }
}